body, html {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 1300px, rgba(255, 255, 255, 1) 1500px), url('../img/background.jpg') no-repeat;
	background-size: contain;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-top: 0;
}

h3 {
	background-color: #02ede5;
	padding: 10px 0;
}

input {
	line-height: 30px;
	font-size: 20px;
}

#none_found {
	color: red;
	display: none;
}

.container {
	width: 1200px;
	min-height: 2000px;
	margin: 0 auto;
	padding: 30px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.station {
	float: left;
	width: 350px;
	min-height: 300px;
	margin: 10px;
	padding: 10px;
	border: 1px solid white;
}

.weather, .info {
	float: left;
	width: 170px;
}

.windr {
	font-size: 30px;
	margin-top: 10px;
}

/* winddirections */

.nnw {
	transform: rotate(337.5deg);
}

.nw {
	transform: rotate(315deg);
}

.wnw {
	transform: rotate(292.5deg);
}

.w {
	transform: rotate(270deg);
}

.wzw {
	transform: rotate(247.5deg);
}

.zw {
	transform: rotate(225deg);
}

.zzw {
	transform: rotate(202.5deg);
}

.z {
	transform: rotate(180deg);
}

.zzo {
	transform: rotate(157.5deg);
}

.zo {
	transform: rotate(135deg);
}

.ozo {
	transform: rotate(112.5deg);
}

.o {
	transform: rotate(90deg);
}

.ono {
	transform: rotate(67.5deg);
}

.no {
	transform: rotate(45deg);
}

.nno {
	transform: rotate(22.5deg);
}

/* ---- */

.info {
	text-align: left;
	font-size: 12px;
}